h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}
 
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

 
.right {
	background-color: lightgreen;
	border-bottom: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	background: #FFFFFF;
}

.left {
	background: #FFFFFF;
	border-bottom: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}

.main {
	background-color: #EEE;
}

.project-name {
	font-weight: bold;
	font-size: 17px;
	padding-left: 3px;
}

.project-desc {
	padding-bottom: 7px;
	padding-left: 8px;
}

.project-detail-title {
	font-weight: bold;
	font-size: 24px;
	text-shadow: 3px 3px 3px #BBB;
	color: #444;
}

.project-detail-sprint-label, .project-detail-task-label {
	font-size: 15px;
}

.sprint-list {
	margin-right: 10px;
}

.task-list {
	margin-left: 10px;
}

.sprint-list, .task-list {
	border-top: 1px solid #DDD;
	padding-left: 3px;
}


.btn {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#d6e7f0));
    background: -moz-linear-gradient(center top, #FFFFFF 0%, #d6e7f0 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #FFFFFF;
    padding: 5px 8px;
    border-color: #a4cce5;
    border-width: 1px;
    border-style: solid;
    font-size: 11px;
    color: #186487;
    font-weight: bold;
}
.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f8fc), color-stop(100%,#c1e0ed));
    background: -moz-linear-gradient(center top, #f2f8fc 0%, #c1e0ed 100%);
    border-color: #53a3d6;
    color: #133e58;
}
.btn:active {
    background: #cee5f4;
    text-shadow: 1px 1px 0px #e5f0f7;
    border-color: #7ab8df;
    color: #658a9d;
}

